h1 {
    text-decoration: underline;
    font-weight: bold;
    color: red;
    background-color: deepskyblue;
    font-size: 4em;
}

h2 {
    font-weight: bold;
    color: mediumpurple;
    background-color: gainsboro;
    font-size: 3em;
}

h3 {
    color: skyblue;
    font-size: 2em;
}

h4 {
    color: teal;
    font-size: 1.5em;
}

h5 {
    color: springgreen;
}
