.rouge {
    color: red;
}

.vert {
    color: green;
}

.bleu {
    color: blue;
}

.gras {
    font-weight: bold;
}

.souligne {
    text-decoration: underline;
}

.italique {
    font-style: italic;
}