* {
    margin: 2px;
    padding: 1px;
}

header {
    color: darkred;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}

nav {
    height: 1.2em;
    color: darkgreen;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}

section {
    color: darkblue;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}

footer {
    height: 1.2em;
    color: orange;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}