* {
    margin: 2px;
    padding: 1px;
}

header {
    color: darkred;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}

h1 {
    font-size: 1.2em;
    color: black;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}


nav {
    height: 1.2em;
    color: darkgreen;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}

aside {
    width: 80px;
    height: 8.85em;
    color: magenta;
    border: 3px solid;
    margin-bottom: 3px;
    float: right;
}


section {
    color: darkblue;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
    margin-right: 100px;
}

article {
    height: 1.2em;
    color: goldenrod;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
    margin-right: 3px;
}

footer {
    height: 1.2em;
    color: orange;
    border: 3px solid;
    margin-left: 20px;
    margin-bottom: 3px;
}