<h3>Gestion du Réseau</h3>
<p>Une Renault Twingo immatriculée DF-269-EF arrive à l'agence. Vous devez donc remettre 
    votre analyse à plus tard et mettre à jour votre base de données. </p>


<p>Il y a 17 questions dans cette analyse !</p>


<div class='question'>
    Affichez les locations de ce véhicule dans l'ordre chronologique inverse. Notez bien la clef de la dernière location, vous en aurez besoin plus tard.
    <pre class='response'>SELECT * from Locations WHERE vehicule='DF-269-EF' ORDER BY date DESC</pre>
</div>
<div class='question'>
    Le client a effectué 247 km. Mettez à jour l'enregistrement de la location.
    <pre class='response'>UPDATE Locations SET kilometrage=247 WHERE id=34;</pre>
</div>
<div class='question'>
    Et vérifiez la modification.
    <pre class='response'>SELECT * from Locations WHERE id=34;</pre>
</div>
<div class='question'>
    Il vous reste maintenant à mettre à jour le kilométrage du véhicule immatriculé DF-269-EF.
    <pre class='response'>UPDATE Vehicules SET kilometrage=kilometrage+247 WHERE immatriculation='DF-269-EF'</pre>
</div>
<div class='question'>
    Et vérifiez la modification.
    <pre class='response'>SELECT * from Vehicules WHERE immatriculation='DF-269-EF';</pre>
</div>
<p>Tiens un autre client entre dans l'agence. Il veut louer la Peugeot 108 immatriculée 
    ED-587-EE. Il la ramènera à l'agence dans deux jours.</p>
<div class='question'>
    Récupérez la clef de l'agence de Lorient de nom Sépamieuayeur et notez la soigneusement.
    <pre class='response'>SELECT id from Agences WHERE ville='Lorient' and nom='Sépamieuayeur';</pre>
</div>
<div class='question'>
    Récupérez le plus grand des identifiants de la relation Locations.
    <pre class='response'>SELECT MAX(id) from Locations;</pre>
</div>
<div class='question'>
    Ajoutez un enregistrement dans la relation Locations à la date du 24 décembre 2020 (Rappel du format des dates : 'YYYY-MM-DD').
    Attention, la location étant en cours, l'attribut kilometrage doit être NULL.
    <pre class='response'>INSERT INTO Locations(id,vehicule,depart,retour,kilometrage,date,duree)
VALUES(41,'ED-587-EE',1,1,NULL,'2020-12-24',2);</pre>
</div>
<div class='question'>
    Visualisez les noms et les immatriculations des véhicules loués le 24 décembre 2020.
    <pre class='response'>SELECT nom, immatriculation from Locations JOIN Vehicules 
ON Locations.vehicule = Vehicules.immatriculation WHERE date='2020-12-24';</pre>
</div>
<div class='question'>
    Visualisez les noms et les immatriculations des véhicules en cours de location (le kilometrage est NULL).
    <pre class='response'>SELECT nom, immatriculation from Locations 
JOIN Vehicules ON Locations.vehicule = Vehicules.immatriculation 
WHERE Locations.kilometrage is NULL;</pre>
</div>
<div class='question'>
    Visualisez dans l'ordre chronologique la date et la durée de la location,
    les noms et les immatriculations des véhicules en cours de location ainsi que les noms et les villes
    des agences de départ et de retour.
    <pre class='response'>SELECT date, duree, Vehicules.nom, immatriculation, depart.nom, depart.ville, retour.nom,retour.ville 
from Locations JOIN Vehicules ON Locations.vehicule = Vehicules.immatriculation 
JOIN Agences AS depart ON Locations.depart=depart.id
JOIN Agences AS retour ON Locations.retour=retour.id
WHERE Locations.kilometrage is NULL ORDER BY date</pre>
</div>
<p>Vous constatez que deux enregistrements de location sont associés à une durée de location nulle. Ceci indique
    que le véhicule n'est pas disponible à la location. Il s'agit de votre C5 mais aussi d'une C4. Il semble
    que le gérant de l'agence de l'Île de Sein se soit réservé depuis déjà deux mois la jouissance exclusive de ce véhicule.
    Vous décidez d'analyser plus en détail les locations dont cette agence est point de départ ou d'arrivée.</p>
<div class='question'>    
    Visualisez dans l'ordre chronologique, la date et la durée de la location,
    les noms et les immatriculations des véhicules ainsi que les nom et la ville 
    des agences de départ et de retour les locations dont l'agence basée à l'Île de Sein est point de départ
    ou d'arrivée.
    <pre class='response'>SELECT date, duree, Vehicules.nom, immatriculation, depart.nom, depart.ville, retour.nom,retour.ville 
from Locations JOIN Vehicules ON Locations.vehicule = Vehicules.immatriculation 
JOIN Agences AS depart ON Locations.depart=depart.id
JOIN Agences AS retour ON Locations.retour=retour.id
WHERE depart.ville='Île de Sein' OR retour.ville='Île de Sein' ORDER BY date;</pre>
</div>

<div class='question text'>
    Il n'a pas loué beaucoup le copain d'enfance... Vous décidez de vous séparer de cette agence. Est-il possible de supprimer directement 
    l'enregistrement associé à cette agence dans la relation Agences ?
    <pre class='response'>Non, en raison de l'intégrité de la relation induite par les clés étrangères 
depart et retour de la relation Locations.</pre>
</div>

<div class='question'>
    Il vous faut donc récupérer les clefs primaires des locations associées à l'agence de l'Île de Sein.
    <pre class='response'>SELECT Locations.id FROM Locations
JOIN Agences AS depart ON Locations.depart=depart.id
JOIN Agences AS retour ON Locations.retour=retour.id
WHERE depart.ville='Île de Sein' OR retour.ville='Île de Sein';</pre>
</div>

<div class='question'>
Supprimez les locations dont l'agence est point de départ ou d'arrivée en utilisant la
construction WHERE IN (id1,id2).
<pre class='response'>DELETE FROM Locations WHERE id IN (24,39);</pre>
</div>

<div class='question'>
    Maintenant que vous avez supprimé toutes les références à cette agence, vous pouvez
    supprimer également l'enregistrement de la relation Agences relatif à celle-ci.
    <pre class='response'>DELETE FROM Agences WHERE ville='Île de Sein';</pre>
</div>

<div class='question'>
Il est temps de vous préparer pour le réveillon. Vérifiez néanmoins qu'il ne reste aucune voiture à
réceptionner. Affichez les locations en cours dont l'agence d'arrivée est Sépamieuayeur à Lorient. 
<pre class='response'>SELECT * FROM Locations
JOIN Agences AS retour ON Locations.retour=retour.id
WHERE Locations.kilometrage is NULL AND retour.nom='Sépamieuayeur' AND retour.ville='Lorient';</pre>
</div>

<p>Il n'y a que deux véhicules. Il s'agit de votre C5 et de la Peugeot 108 que vous venez de louer pour deux jours.</p>
<p>Bon réveillon !</p>
