body.empty #textReply,
body.empty #pyEditor,
body.empty #dbEditor,
body.empty #testButton,
body.empty #cancelButton,
body.empty #validateButton,
body.text #dbEditor,
body.text #pyEditor,
body.text #testButton,
body.text #printButton,
body.sql #textReply,
body.sql #pyEditor,
body.sql #printButton,
body.db #textReply,
body.db #pyEditor,
body.db #cancelButton,
body.db #validateButton,
#dbReply,
#pyReply {
    display: none;
}

p {
    text-align: justify;
}
.question {
    margin-top:1em;
}
.response {
    display: none !important;
}
#sujet pre, pre.gray {
    border: 1px black solid;
    background-color: lightgray;
    padding: 1em;    
    margin: 1em;
    overflow: auto;
}
#textReply {
    padding: 1em;
}
#textEditor {
     border: 1px solid #222;
    min-height:5.5em;
    height: auto;
    width:100%;
    resize:none;
}
.CodeMirror{
    border: 1px solid #222;
    min-height:5.5em;
    height: auto;
    margin: 1em;  
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
.button {
    color: #333;
    background: linear-gradient(#eee, #ddd);
    border: 1px solid #222;
    border-radius: 3px;
    padding: 7px;
    margin-top: 1em;
    transition: .3s;
    font-family: ubuntu, sans-serif;
    font-size: 1em;   
    width:100%;
}
.button:active {
    background: linear-gradient(#ddd, #eee);
}
.button:hover, button:focus {
    box-shadow: 0 0 2px #222;
}
.error {
    color:red;
    transition:.5s;
    overflow:hidden;
    margin: 15px;
    height:2em;
}
#output {
    overflow: auto;
}

table {
    width:auto;
    margin:auto;
    border:1px solid black;
    border-collapse:collapse;
    margin-bottom:10px;
}

th, td {
    border:1px solid #777;
}

footer {
    margin-top:4em;
    font-size:.8em;
    color: #222;
}
